[submodule "WebApp"]
	path = WebApp
	url = https://github.com/wiredopposite/OGX-Mini-WebApp.git
[submodule "Firmware/BlueRetro"]
	path = Firmware/BlueRetro
	url = https://github.com/wiredopposite/BlueRetro.git
[submodule "scripts/xremote/dump-dvd-kit"]
	path = scripts/xremote/dump-dvd-kit
	url = https://github.com/XboxDev/dump-dvd-kit.git
[submodule "Firmware/pico/external/pico_usb"]
	path = Firmware/pico/external/pico_usb
	url = https://github.com/wiredopposite/pico_usb.git
[submodule "Firmware/pico/external/g726/g726"]
	path = Firmware/pico/external/g726/g726
	url = https://github.com/fredrikhederstierna/g726.git
[submodule "Firmware/pico/external/libxsm3/libxsm3"]
	path = Firmware/pico/external/libxsm3/libxsm3
	url = https://github.com/InvoxiPlayGames/libxsm3.git
[submodule "Firmware/pico/external/libfixmath"]
	path = Firmware/pico/external/libfixmath
	url = https://github.com/PetteriAimonen/libfixmath.git
[submodule "Firmware/pico/external/tinyusb"]
	path = Firmware/pico/external/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "Firmware/pico/external/Pico-PIO-USB"]
	path = Firmware/pico/external/Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB.git
[submodule "Firmware/pico/external/bluepad32/bluepad32"]
	path = Firmware/pico/external/bluepad32/bluepad32
	url = https://github.com/ricardoquesada/bluepad32.git
[submodule "Firmware/pico/external/bluepad32"]
	path = Firmware/pico/external/bluepad32
	url = https://github.com/ricardoquesada/bluepad32.git
[submodule "Firmware/ESP32/components/bluepad32"]
	path = Firmware/ESP32/components/bluepad32
	url = https://github.com/ricardoquesada/bluepad32.git
[submodule "Firmware/ESP32/components/libfixmath/libfixmath"]
	path = Firmware/ESP32/components/libfixmath/libfixmath
	url = https://github.com/PetteriAimonen/libfixmath.git
