[submodule "lib/Pico-PIO-USB"]
	path = lib/Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB.git
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "src/usbd"]
	path = src/usbd
	url = https://github.com/wiredopposite/usbd.git
[submodule "lib/tusb_xinput"]
	path = lib/tusb_xinput
	url = https://github.com/Ryzee119/tusb_xinput.git
