firmware/pico/build
firmware/pico/debug
firmware/pico/.ignore
firmware/pico/src/USBDevice/DeviceDriver/XboxOG/tud_xid/tud_xid_xremote_rom.h
firmware/pico/src/BLEServer/att_delayed_response.h
firmware/ESP32/main/BLEServer/att_delayed_response.h
firmware/ESP32/.ignore
firmware/ESP32/build
firmware/ESP32/components/btstack
firmware/ESP32/sdkconfig.old
scripts/xremote/dvd-dongle-rom.bin