:root {
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --primary-color: #007bff;
  --background-color: #f8f9fa;
  --text-color: #212529;
}

h1 {
  margin-top: 0; 
  margin-bottom: 20px;
}


body {
  font-family: var(--font);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.connect-ui, .ui {
  margin-bottom: 20px;
}

.settings > .setting-item, .deadzone-settings > .setting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.settings > .setting-item label, .deadzone-settings > .setting-item label {
  flex-basis: 40%;
  text-align: left;
}

.settings > .setting-item input[type=range], .deadzone-settings > .setting-item input[type=range] {
  flex-grow: 1;
}

.settings > .setting-item span, .deadzone-settings > .setting-item span {
  margin-left: 10px;
  min-width: 40px;
  text-align: right;
}

.connect, .settings-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-right: 15px;
}

.connect:hover, .settings-button:hover {
  /* background-color: darken(var(--primary-color), 50%); */
  opacity: 0.5;
}

.error {
  color: #dc3545;
  margin-top: 10px;
  display: none;
}

.hide {
  display: none;
}

.button-map-settings .button-pair {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.button-item {
  display: flex;
  flex-direction: column;
  width: 48%; 
  align-items: flex-start;
}

.button-item label {
  margin-bottom: 5px;
}

.button-mapping {
  width: 100%;
}